@import "utilidades/mixin";

main{
    .nosotrosvintage{
        @include medidas(25rem,25rem);
        margin: 1rem;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        justify-items: center;
    }
    .titulos{
        font-family: 'Nixie One', cursive;
        text-align: center;
        color: rebeccapurple;
        font-size: 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        justify-content: center;
    }
}